$font-family: "Nunito", sans-serif;
$primary-color: orange;
$secondary-color: black;

body {
  margin: 0;
  font-family: $font-family;
  position: relative;
  padding-top: 2px;
  margin: 2px;

  header {
    box-shadow: 4px 2px 27px -17px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 4px 2px 27px -17px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 2px 27px -17px rgba(0, 0, 0, 1);

    img {
      position: relative;
      padding-left: 10px;
    }

    ul {
      font-size: 24px;
      font-family: $font-family;
      position: relative;
      top: -50px;
      list-style: none;
      padding: 0;
      display: flex;
      margin-bottom: 10px;
      justify-content: center;
      align-items: center;

      li {
        position: relative;
        margin: 0 10px;

        ul.desplegable {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: white;
          border: 1px solid #ccc;
          padding: 10px 0;
        }

        a {
          text-decoration: none;
          color: $secondary-color;
          display: block;
          padding: 5px 20px;
          box-shadow: 4px 2px 27px -17px rgba(0, 0, 0, 1);
          -webkit-box-shadow: 4px 2px 27px -17px rgba(0, 0, 0, 1);
          -moz-box-shadow: 4px 2px 27px -17px rgba(0, 0, 0, 1);
        }

        &:hover {
          ul.desplegable {
            display: block;
          }
        }

        ul li {
          display: block;
        }
      }
    }

    button {
      position: absolute;
      font-size: 18px;
      padding: 15px 30px;
      top: 10px;
      right: 10px;
      background-color: white;
      color: black;
      padding: 10px 20px;
      border: 2px solid $primary-color;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #ffa500;
        color: white;
      }
    }
  }
  section {
    position: relative;

    img {
      top: 20%;
      max-width: 30%;
      max-width: 30%;
      margin-top: 100px;
      border: 2px solid $primary-color;
      border-radius: 20px;
      justify-content: space-evenly;
    }
  }

  h1 {
    color: $primary-color;
    font-style: $font-family;
  }

  h2 {
    font-style: $font-family;
    font-size: 50px;
  }

  button {
    position: absolute;
    font-size: 18px;
    padding: 15px 30px;
    top: 10px;
    right: 10px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid $primary-color;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ffa500;
      color: white;
    }
  }
}
