
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 550px) {
  .container1, .pictures {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .images2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: center;
  }
  .review {
    display: flex;
  }
  .stars {
    display: flex;
    flex-direction: column-reverse;
    marging: 1rem;
  }
}
body {
	background-color: #f8f9ff;
  padding-right: 0;
  justify-content: center;
  max-width: 375px max-height 890px;
  margin: 0rem;
  padding: 12px 5px;
  gap: 60px;
}

main {
  justify-content: center;
  margin: 0;
}

.review {
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}

.page2 {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

h1, h3 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.images {
  max-width: 320px;
  max-height: 320px;
}

.images2 {
  justify-content: center;
  max-width: 90%;
}

.page4 {
  font-size: 1.2rem;
  margin: 0;
  display: block;
  justify-content: center;
  text-align: center;
  background-color: #f8d57

body header {
  display: flex;
  max-height: 72px;
  align-items: center;
}
body header .logo-resources {
  z-index: 0;
  margin-left: 8px;
  justify-content: center;
  display: flex;
  width: 170px;
  height: 32px;
  gap: 6;
}
@media (min-width: 720px) {
  body header .logo-resources {
    justify-content: space-between;
    margin-left: 5px;
    padding: 10px;
  }
}
body header .no-movil-display {
  z-index: 1;
  visibility: hidden;
  display: flex;
  align-items: left;
  gap: 10px;
  max-width: 320px;
  margin-left: 50%;
}
@media (min-width: 720px) {
  body header .no-movil-display {
    visibility: visible;
  }
}
body .section1 {
  text-align: center;
  padding: 60px 30px 60px 30px;
  gap: 40px;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  z-index: 0;
}
body .section1 .gapper {
  gap: 40px;
}
body .section1 .gapper h2 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  max-width: 315px;
  max-height: 147px;
  gap: 0;
  margin-top: 5px;
  padding: auto;
}
body .section1 .get-started p {
  display: none;
}
body .section1 .get-started .button1 {
  max-width: 320px;
  max-height: 320px;
}
body .section1 .get-started .button2 {
  display: none;
}
body .section1 .container-img {
  max-width: 320px;
  max-height: 320px;
}
body .section3 {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
}
body .section3 .section3_h1 {
  text-align: center;
  display: flex;
  max-width: 320px;
  margin-bottom: 10px;
}
body .section3 .section3_p {
  max-width: 320px;
  text-align: center;
  padding-left: 12px;
  max-height: 3cm;
}
body .section3 .oat_1 {
  order: 2;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 320px;
  margin-bottom: 10px;
  max-height: 3cm;
	}
