* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media(min-width: 550px) {
  .container1, .pictures {
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
  }
  .images2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    text-align: center;
  }
  .review {
    display: flex;
  }
  .stars {
    display: flex;
    flex-direction: column-reverse;
    marging: 1rem;
  }

  // header {
  //   // justify-content: center;
  //   // flex-direction: column; 
  //   // align-items: center; 
  // }
}

body {
  padding-right: 0;

  justify-content: center;
  max-width: 375px max-height 890px;
  margin: 0rem;
  padding: 12px 5px;
  gap: 60px;
}

main {
  justify-content: center;
  margin: 0;
}

.review {
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}

.page2 {
  // display: flex;
  // justify-content: center;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
    
  }


  h2  {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }

  h1, h3 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  }
  
.images {
  max-width: 320px;
  max-height: 320px;

}

$secundary-color: #f8d57e;

.images2 {
  justify-content: center;
  max-width: 90%;
}

.page4 {
  font-size: 1.2rem;
  margin: 0;
  display: block;
  justify-content: center;
  text-align: center;
  background-color: $secundary-color;
 
}

